h1 College Scorecard Data Playground
p This website allows you to play around with the raw data in the College Scorecard at
  a(href='https://collegescorecard.ed.gov/')  the US Department of Education website
  |  and it's designed to help parents make better decisions on choosing a college.
